h1{
    text-align: center;
}

table , td, th ,tr {
	border: 1px solid #595959;
	border-collapse: collapse;
        margin: auto;
}
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}

    .btn1{/*周りの凹み*/
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgba(3, 169, 244, 0.54);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background: #f7f7f7;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}
.btn1.fa {/*ボタン自体*/
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    line-height: 10px;
    vertical-align: middle; 
    left: 10px;
    top: 9px;
    border-radius: 50%;
    font-size: 50px;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
  }
  
.btn1.fa:active{
    background-image: -webkit-linear-gradient(#efefef 0%, #303ca3 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #d8d8d8;
}

.respondent {
    text-align: center;
}

.remarks{
    text-align: center;
}

.button {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  background:#fff;
  border:1px #333 solid;
  font-size:14px;
  color:#333;
}
a {
  font-size:14px;
  color:#333;
  text-decoration:none;
}
.close {
  text-align:right;
  padding: 10px;
}
p {
  padding: 20px;
  line-height:1.6;
}
video {
  width:100%;
  height:auto;
}